<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to the assignment planner where you can add your assignments the course the assignment is for as well as the due date and details and then you can use the edit button when you've completed the assignment to say that you've completed it or you can just delete the assignment from the website</p>
<%- include ./partials/footer.ejs %>
